@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  background-color: white; 
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
  }
}